<%- include('../layout/adminHeadder.ejs') %>

<style>
    .preview-image {
        max-width: 100%;
        max-height: 200px;
        margin-top: 10px;
        width: 300px; 
        height: 200px;
        overflow: hidden; 
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
</style>

<section class="content-main">
    <form id="productForm" method="post" action="/add-product" enctype="multipart/form-data">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                    <div>
                        <button class="btn btn-md rounded font-sm hover-up" onclick="validateForm(event)" type="submit">Save</button>
                    </div>
                </div>
                <div id="message-container"></div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Product title</label>
                            <input type="text" name="name" placeholder="Type here" class="form-control" id="name" required />
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Full description</label>
                            <textarea id="description" name="description" placeholder="Type here" class="form-control" rows="4" required></textarea>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Regular price</label>
                                    <div class="row gx-2">
                                        <input placeholder="₹" id="price" name="price" type="number" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Promotional price</label>
                                    <input placeholder="₹" id="promoPrice" name="promoPrice" type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Stock</label>
                                    <input placeholder="Stock" id="stock" name="stock" type="number" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="product_tags" class="form-label">Tags</label>
                            <input type="text" id="tags" name="tags" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <% if (messages.error) { %>
                    <div class="alert alert-danger"><%= messages.error %></div>
                  <% } %>
                <% if (messages.success) { %>
                    <div class="alert alert-success"><%= messages.success %></div>
                  <% } %>
                <div class="card mb-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card-body">
                            <div id="image-preview1"></div>
                            <input accept="image/*" name="img1" id="img1" class="form-control" type="file" />
                            <div id="image-preview2"></div>
                            <input accept="image/*" name="img2" id="img2" class="form-control" type="file" />
                            <div id="image-preview3"></div>
                            <input accept="image/*" name="img3" id="img3" class="form-control" type="file" />
                            <div id="image-preview4"></div>
                            <input accept="image/*" name="img4" id="img4" class="form-control" type="file" />
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Organization</h4>
                    </div>
                    <div class="card-body">
                        <div class="row gx-2">
                            <div class="col-sm-6 mb-3">
                                <label class="form-label">Category</label>
                                <select class="form-select" id="category_id" name="category_id">
                                    <% category.forEach(element => { %>
                                        <option value="<%= element._id %>"><%= element.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<!-- <div class="col-sm-6 mb-3">
    <label class="form-label">Brand</label>
    <select class="form-select">
        <option>Nissan</option>
        <option>Honda</option>
        <option>Mercedes</option>
        <option>Chevrolet</option>
    </select>
</div> -->
<script>
    let cropper1, cropper2, cropper3, cropper4;

    function initializeCropper(input, preview, cropperInstance) {
        input.addEventListener('change', function (e) {
            const file = e.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (event) {
                    preview.innerHTML = `<img src="${event.target.result}" id="crop-image-${input.id}">`;
                    const image = document.getElementById(`crop-image-${input.id}`);
                    cropperInstance.instance = new Cropper(image, {
                        aspectRatio: 1 / 1,
                        viewMode: 1
                    });
                };
                reader.readAsDataURL(file);
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        const img1 = document.getElementById('img1');
        const img2 = document.getElementById('img2');
        const img3 = document.getElementById('img3');
        const img4 = document.getElementById('img4');
        const preview1 = document.getElementById('image-preview1');
        const preview2 = document.getElementById('image-preview2');
        const preview3 = document.getElementById('image-preview3');
        const preview4 = document.getElementById('image-preview4');

        cropper1 = { instance: null };
        cropper2 = { instance: null };
        cropper3 = { instance: null };
        cropper4 = { instance: null };

        initializeCropper(img1, preview1, cropper1);
        initializeCropper(img2, preview2, cropper2);
        initializeCropper(img3, preview3, cropper3);
        initializeCropper(img4, preview4, cropper4);
    });

    function validateForm(event) {
        const messageContainer = document.getElementById('message-container');
        messageContainer.innerHTML = '';

        event.preventDefault();
        const form = document.getElementById('productForm');

        const nameInput = document.getElementById('name');
        const descriptionInput = document.getElementById('description');
        const priceInput = document.getElementById('price');
        const promoPriceInput = document.getElementById('promoPrice');
        const stockInput = document.getElementById('stock');
        const categoryInput = document.getElementById('category_id');

        // frontend validation
        if (nameInput.value.trim().length < 3) {
            showMessage('Name should be at least 3 characters long.', 'danger');
            return;
        }

        if (descriptionInput.value.trim().length < 4) {
            showMessage('Description should be at least 4 characters long.', 'danger');
            return;
        }

        const price = parseFloat(priceInput.value);
        if (isNaN(price) || price <= 0) {
            showMessage('Price should be a positive number.', 'danger');
            return;
        }

        const promoPriceValue = promoPriceInput.value.trim();
        if (promoPriceValue !== '' && (isNaN(promoPriceValue) || parseFloat(promoPriceValue) < 0)) {
            showMessage('Promotional price should be a positive number.', 'danger');
            return;
        }

        const stock = parseFloat(stockInput.value);
        if (isNaN(stock) || stock <= 0) {
            showMessage('Stock should be a positive number.', 'danger');
            return;
        }

        const images = [img1, img2, img3, img4].map(input => input.files[0]).filter(file => file);
        if (images.length < 2) {
            showMessage('Please upload at least 2 images.', 'danger');
            return;
        }

        if (!categoryInput.value) {
            showMessage('Please select a category.', 'danger');
            return;
        }

        const formData = new FormData();
        formData.append('name', nameInput.value.trim());
        formData.append('description', descriptionInput.value.trim());
        formData.append('price', parseFloat(priceInput.value));
        formData.append('promoPrice', parseFloat(promoPriceInput.value));
        formData.append('stock', parseFloat(stockInput.value));
        formData.append('category_id', categoryInput.value);

        const cropperInstances = [cropper1, cropper2, cropper3, cropper4];
        const imgInputs = [img1, img2, img3, img4];

        Promise.all(cropperInstances.map((cropper, index) => {
            if (cropper.instance) {
                return new Promise((resolve) => {
                    cropper.instance.getCroppedCanvas().toBlob(blob => {
                        formData.append('img', blob, `img${index + 1}.jpeg`);
                        resolve();
                    });
                });
            }
        })).then(() => {
            fetch('/admin/add-product', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    if (data.save) {
                        Swal.fire({
                            title: 'Success!',
                            text: data.message,
                            icon: 'success',
                            timer: 3000,
                            showConfirmButton: true,
                            confirmButtonColor: '#28a745' // green
                        }).then((result) => {
                            window.location.href = '/admin/products';
                        });

                        setTimeout(() => {
                            window.location.href = '/admin/products';
                        }, 2000);
                    } else {
                        showMessage(data.message, 'error');
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showMessage('An error occurred while adding the product', 'error');
            });
        });

        function showMessage(message, type) {
            const alertClass = type === 'success' ? 'alert-success' : 'alert-danger';
            messageContainer.innerHTML = `<div class="alert ${alertClass}">${message}</div>`;
        }
    }
</script>


<!-- footer -->
<%- include('../layout/adminFooter.ejs') %>