<%- include('../layout/adminHeadder.ejs') %>


<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products</h2>
        </div>
        <div>
            <a href="add-product" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <!-- <input type="text" placeholder="Search..." class="form-control" /> -->
                </div>
                <!-- <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>All category</option>
                        <option>Electronics</option>
                        <option>Clothings</option>
                        <option>Something else</option>
                    </select>
                </div> -->
                <div class="col-lg-2 col-6 col-md-3">
                    <!-- <select class="form-select">
                        <option>Latest added</option>
                        <option>Cheap first</option>
                        <option>Most viewed</option>
                    </select> -->
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5">
                <% if (productData !== "undefined") { %>
                    <% productData.forEach(element => { %>
                        <div class="col">
                            <div class="card card-product-grid ">
                                <a href="edit-product?proId=<%=element._id %>" class="img-wrap img-ratio"> <img src="/productImage/<%= element.img[0] %>" class="img-fluid" alt="Product" /> </a>
                                <div class="info-wrap">
                                    <a href="#" class="title text-truncate"><%= element.name %></a>
                                    <div class="price mb-2">Price: $<%= element.price %>, Promo: $<%= element.promoPrice %></div>
                                    <div class="price mb-2">Stock: <%= element.stock %></div>
                                    <!-- price.// -->
                                    <!-- <a href="edit-product?proId=<%=element._id %>" class="btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-edit"></i> Edit </a> -->
                                    <% if (element.status) { %>
                                        <button 
                                          id="block-btn-<%=element._id %>"
                                          class="btn btn-sm btn-brand font-sm mt-15"
                                          onclick="updateStatus('<%=element._id %>', true)">
                                          <i class="material-icons md-check_circle"></i>
                                          Listed
                                        </button>
                                      <% } else { %>
                                        <button
                                          id="block-btn-<%=element._id %>"
                                          class="btn btn-sm btn-outline-danger font-sm mt-15" 
                                          onclick="updateStatus('<%=element._id %>', false)">
                                          <i class="material-icons md-block"></i>
                                          Unlisted
                                        </button>                      
                                      <% } %>
                                </div>
                            </div>
                            <!-- card-product  end// -->
                        </div>
                        <!-- col.// -->
                    <% }); %>
                <% } %>
            </div>
            <!-- row.// -->
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
    <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<!-- content-main end// -->
 
<style>
    .img-ratio {
      /* width: 300px;  */
      height: 200px;
      overflow: hidden; 
      position: relative;
    }
    .img-ratio img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      display: block;
    }
  </style>

<script>
    function updateStatus(proId, status) {
      console.log('product id: ' + proId);
      axios.post(`/admin/products/${proId}`)
      .then(res => {
        if (res.data.success) {
          console.log('data.success: ' + res.data.success);
  
          let button = document.getElementById(`block-btn-${proId}`);
          if (!status) {
            button.classList.remove('btn-outline-danger');
            button.classList.add('btn-brand');
            button.innerHTML = '<i class="material-icons md-check_circle"></i> Listed';
            button.setAttribute('onclick', `updateStatus('${proId}', true)`);
          } else {
            button.classList.remove('btn-brand');
            button.classList.add('btn-outline-danger');
            button.innerHTML = '<i class="material-icons md-block"></i> Unlisted';
            button.setAttribute('onclick', `updateStatus('${proId}', false)`);
          }
        } else {
          alert("An error occurred while updating the status");
        }
      })
      .catch(error => {
        console.log("Error in updating status", error);
      });
    }
  </script>
            
<!-- footer -->
<%- include('../layout/adminFooter.ejs') %>
