<!-- header -->
<%- include('../layout/adminHeadder.ejs') %>


            <section class="content-main">
                <div class="content-header">
                    <div>
                        <a href="/admin/sales-report">
                            <h2 class="content-title card-title">Sales Report</h2>
                        </a>
                    </div>
                    <div>
                        <!-- <input type="text" placeholder="Search by name" class="form-control bg-white" /> -->
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-2 col-md-3 col-6">
                                <div class="custom_select">
                                    <select id="sort" class="form-select select-nice" onchange="applyFilters()">
                                        <option value="All">All</option>
                                        <option value="Daily">Daily</option>
                                        <option value="Weekly">Weekly</option>
                                        <option value="Monthly">Monthly</option>
                                        <option value="Yearly">Yearly</option>
                                        <option value="Custom">Custom</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-6"></div>
                            <div class="col-md-2 col-6"></div>
                            <div class="col-md-2 col-6" id="startDate" style="display: none;">
                                <h6>Start date</h6>
                                <input type="date" class="form-control" />
                            </div>
                            <div class="col-md-2 col-6" id="endDate" style="display: none;">
                                <h6>End date</h6>
                                <input type="date" class="form-control" />
                            </div>
                            <div class="col-md-2 col-6" id="customGenerate" style="display: none;">
                                <br>
                                <a href="#" class="btn btn-primary" onclick="generateReport()">Generate</a>
                            </div>                            
                            <div id="productContainer" hidden>
                                <!-- Product data will be injected here -->
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive" id="downloadPdf">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>SL No</th>
                                        <th>Order ID</th>
                                        <th>Billing Name</th>
                                        <th>Date</th>
                                        <th>Offer Deduction</th>
                                        <th>Coupon Deduction</th>
                                        <th>Total</th>
                                        <th>Payment Method</th>
                                    </tr>
                                </thead>
                                <tbody id="productContainer">
                                    <% let i = 1; %>
                                    <% if(orderData){ %>
                                    <% orderData.forEach(order => { %>
                                    <tr>
                                        <td><%= i++ %></td>
                                        <td><%= order._id %></td>
                                        <td><%= order.address.name %></td>
                                        <td>
                                            <% const expirationDate = new Date(order.date); %>
                                            <span><%= expirationDate.getDate() %>/</span>
                                            <span><%= expirationDate.getMonth() + 1 %>/</span>
                                            <span><%= expirationDate.getFullYear() %></span>
                                        </td>
                                        <td><%= order.offerDiscount.toFixed(2) %></td>
                                        <td><%= order.couponDiscount.toFixed(2) %></td>
                                        
                                        <td><%= order.totalAmount.toFixed(2) %></td>
                                        <td><%= order.paymentMethod %></td>
                                    </tr>
                                    <% }); %>
                                    <% } %>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <% const orderCount = orderData.length %>  
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total order count</td>
                                        <td><%= orderCount %></td> 
                                    </tr>
                                    <tr>
                                      <% const allOrderTotals = []; %>
                                        <% orderData.forEach(order => { %>
                                            <% let orderTotal = 0; %> 
                                            <% order.orderedItems.forEach(item => { %>
                                                <% orderTotal += item.subTotal; %> 
                                            <% }); %>
                                            <% allOrderTotals.push(orderTotal); %> 
                                        <% }); %>
                                        <% const totalSum = allOrderTotals.reduce((total, orderTotal) => { %>
                                            <% return total + orderTotal; %>
                                        <% }, 0); %>                     
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total order Amount</td>
                                        <td>$<%= totalSum.toFixed(2) %></td>
                                    </tr>
                                    <tr>
                                        <% const couponDiscount = orderData.reduce((total, coupon) => {%>
                                            <%  return total + coupon.couponDiscount;%>
                                            <% }, 0);%>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total coupon discount</td>
                                        <td><%= couponDiscount.toFixed(2) %></td> 
                                    </tr>
                                    <tr>
                                        <% const offerDiscount = orderData.reduce((total, coupon) => {%>
                                            <%  return total + coupon.offerDiscount;%>
                                            <% }, 0);%>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total offer discount</td>
                                        <td><%= offerDiscount.toFixed(2) %></td> 
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                       
                        <!-- table-responsive end -->
                        
                        <div>
                            <a href="#" id="downloadPdfBtn" class="btn btn-primary" onclick="convertToPDF()"><i class="text-muted material-icons md-post_add"></i>Download Pdf</a>
                            <a href="#" id="downloadExcelBtn" class="btn btn-primary" onclick="convertToExcel()"><i class="text-muted material-icons md-post_add"></i>Download Excel</a>
                        </div>
                    </div>
                    <!-- card-body end -->
                </div>
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
              <div class="row pb-30 pt-15">
                  <div class="col-sm-6">
                      <script>
                          document.write(new Date().getFullYear());
                      </script>
                      &copy; lenzB - Creatives .
                  </div>
                  <div class="col-sm-6">
                      <div class="text-sm-end">All rights reserved</div>
                  </div>
              </div>
            </footer>
        </main>
       
    

   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
   
        <script>
            function convertToExcel() {
            
            const table = document.getElementById('downloadPdf').querySelector('table');
            const wb = XLSX.utils.table_to_book(table);
            const wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });
            const blob = new Blob([s2ab(wbout)], { type: 'application/octet-stream' });
            saveAs(blob, 'table_data.xlsx');
            }
            function s2ab(s) {
            const buf = new ArrayBuffer(s.length);
            const view = new Uint8Array(buf);
            for (let i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
            }
        </script>
        
        <script>
        function convertToPDF() {
            const element = document.getElementById('downloadPdf');
            setTimeout(() => {
            html2pdf()
                .from(element)
                .save();
            }, 1000);
        }
        </script>

        <!-------------------------CUSTOM----------------------->
        <script>
            function applyFilters(categoryId = null) {
                const sortOption = document.getElementById('sort').value;
                const urlParams = new URLSearchParams(window.location.search);
            
                if (sortOption === 'Custom') {
                    toggleDateFields()
                } else {
                    urlParams.set('sort', sortOption);
                    window.location.href = `/admin/sales-report?${urlParams.toString()}`;

                }
            
            }
        </script>
            
        <script>
            function toggleDateFields() {
                var sortSelect = document.getElementById("sort");
                var startDateDiv = document.getElementById("startDate");
                var endDateDiv = document.getElementById("endDate");
                var customGenerateDiv = document.getElementById("customGenerate");
        
                if (sortSelect.value === "Custom") {
                    startDateDiv.style.display = "block";
                    endDateDiv.style.display = "block";
                    customGenerateDiv.style.display = "block";
                } else {
                    startDateDiv.style.display = "none";
                    endDateDiv.style.display = "none";
                    customGenerateDiv.style.display = "none";
                }
            }

            function generateReport() {
                const startDateInput = document.getElementById('startDate').querySelector('input');
                const endDateInput = document.getElementById('endDate').querySelector('input');
                const startDate = startDateInput.value;
                const endDate = endDateInput.value;
                const urlParams = new URLSearchParams(window.location.search);

                if (!startDate || !endDate) {
                    swal("Oops!", "Please select both start and end dates.", "error");
                    return; 
                }

                if (startDate > endDate) {
                    swal("Oops!", "End date cannot be before start date.", "error");
                    return; 
                }

                urlParams.set('startDate', startDate);
                urlParams.set('endDate', endDate);
                urlParams.set('sort', 'Custom');

                window.location.href = `/admin/sales-report?${urlParams.toString()}`;
            }

        </script>


        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>