<%- include('../layout/header.ejs') %>
    <!-- HEADER AREA END -->
    <style>
        .error-message {
            color: red;
            font-size: 12px;
        }
        .invalid {
            border-color: red;
        }
        </style>
    
    <!-- Utilize Cart Menu Start -->
    <div id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <span class="ltn__utilize-menu-title">Cart</span>
                <button class="ltn__utilize-close">×</button>
            </div>
            <div class="mini-cart-product-area ltn__scrollbar">
                <div class="mini-cart-item clearfix">
                    <div class="mini-cart-img">
                        <a href="#"><img src="img/product/1.png" alt="Image"></a>
                        <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                    </div>
                    <div class="mini-cart-info">
                        <h6><a href="#">Red Hot Tomato</a></h6>
                        <span class="mini-cart-quantity">1 x $65.00</span>
                    </div>
                </div>
                <div class="mini-cart-item clearfix">
                    <div class="mini-cart-img">
                        <a href="#"><img src="img/product/2.png" alt="Image"></a>
                        <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                    </div>
                    <div class="mini-cart-info">
                        <h6><a href="#">Vegetables Juices</a></h6>
                        <span class="mini-cart-quantity">1 x $85.00</span>
                    </div>
                </div>
                <div class="mini-cart-item clearfix">
                    <div class="mini-cart-img">
                        <a href="#"><img src="img/product/3.png" alt="Image"></a>
                        <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                    </div>
                    <div class="mini-cart-info">
                        <h6><a href="#">Orange Sliced Mix</a></h6>
                        <span class="mini-cart-quantity">1 x $92.00</span>
                    </div>
                </div>
                <div class="mini-cart-item clearfix">
                    <div class="mini-cart-img">
                        <a href="#"><img src="img/product/4.png" alt="Image"></a>
                        <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                    </div>
                    <div class="mini-cart-info">
                        <h6><a href="#">Orange Fresh Juice</a></h6>
                        <span class="mini-cart-quantity">1 x $68.00</span>
                    </div>
                </div>
            </div>
            <div class="mini-cart-footer">
                <div class="mini-cart-sub-total">
                    <h5>Subtotal: <span>$310.00</span></h5>
                </div>
                <div class="btn-wrapper">
                    <a href="cart.html" class="theme-btn-1 btn btn-effect-1">View Cart</a>
                    <a href="cart.html" class="theme-btn-2 btn btn-effect-2">Checkout</a>
                </div>
                <p>Free Shipping on All Orders Over $100!</p>
            </div>

        </div>
    </div>
    <!-- Utilize Cart Menu End -->

    <!-- Utilize Mobile Menu Start -->
    <div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <div class="site-logo">
                    <a href="index.html"><img src="img/logo.png" alt="Logo"></a>
                </div>
                <button class="ltn__utilize-close">×</button>
            </div>
            <div class="ltn__utilize-menu-search-form">
                <form action="#">
                    <input type="text" placeholder="Search...">
                    <button><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="ltn__utilize-menu">
                <ul>
                    <li><a href="#">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home Pages 01</a></li>
                            <li><a href="index-2.html">Home Pages 02</a></li>
                            <li><a href="index-3.html">Home Pages 03</a></li>
                            <li><a href="index-4.html">Home Pages 04</a></li>
                            <li><a href="index-5.html">Home Pages 05  <span class="menu-item-badge">video</span></a></li>
                            <li><a href="index-6.html">Home Pages 06</a></li>
                            <li><a href="index-7.html">Home Pages 07</a></li>
                            <li><a href="index-8.html">Home Pages 08</a></li>
                            <li><a href="index-9.html">Home Pages 09</a></li>
                            <li><a href="index-10.html">Home Pages 10</a></li>
                            <li><a href="index-11.html">Home Pages 11 <span class="menu-item-badge">Service</span></a></li>
                        </ul>
                    </li>
                    <li><a href="#">About</a>
                        <ul class="sub-menu">
                            <li><a href="about.html">About</a></li>
                            <li><a href="service.html">Services</a></li>
                            <li><a href="service-details.html">Service Details</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="portfolio-2.html">Portfolio - 02</a></li>
                            <li><a href="portfolio-details.html">Portfolio Details</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="team-details.html">Team Details</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="locations.html">Google Map Locations</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Shop</a>
                        <ul class="sub-menu">
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="shop-grid.html">Shop Grid</a></li>
                            <li><a href="shop-left-sidebar.html">Shop Left sidebar</a></li>
                            <li><a href="shop-right-sidebar.html">Shop right sidebar</a></li>
                            <li><a href="product-details.html">Shop details </a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="/checkout">Checkout</a></li>
                            <li><a href="order-tracking.html">Order Tracking</a></li>
                            <li><a href="account.html">My Account</a></li>
                            <li><a href="login.html">Sign in</a></li>
                            <li><a href="register.html">Register</a></li>
                        </ul>
                    </li>
                    <li><a href="#">News</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">News</a></li>
                            <li><a href="blog-grid.html">News Grid</a></li>
                            <li><a href="blog-left-sidebar.html">News Left sidebar</a></li>
                            <li><a href="blog-right-sidebar.html">News Right sidebar</a></li>
                            <li><a href="blog-details.html">News details</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="about.html">About</a></li>
                            <li><a href="service.html">Services</a></li>
                            <li><a href="service-details.html">Service Details</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="portfolio-2.html">Portfolio - 02</a></li>
                            <li><a href="portfolio-details.html">Portfolio Details</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="team-details.html">Team Details</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="history.html">History</a></li>
                            <li><a href="contact.html">Appointment</a></li>
                            <li><a href="locations.html">Google Map Locations</a></li>
                            <li><a href="404.html">404</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="ltn__utilize-buttons ltn__utilize-buttons-2">
                <ul>
                    <li>
                        <a href="account.html" title="My Account">
                            <span class="utilize-btn-icon">
                                <i class="far fa-user"></i>
                            </span>
                            My Account
                        </a>
                    </li>
                    <li>
                        <a href="wishlist.html" title="Wishlist">
                            <span class="utilize-btn-icon">
                                <i class="far fa-heart"></i>
                                <sup>3</sup>
                            </span>
                            Wishlist
                        </a>
                    </li>
                    <li>
                        <a href="cart.html" title="Shoping Cart">
                            <span class="utilize-btn-icon">
                                <i class="fas fa-shopping-cart"></i>
                                <sup>5</sup>
                            </span>
                            Shoping Cart
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ltn__social-media-2">
                <ul>
                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Utilize Mobile Menu End -->

    <div class="ltn__utilize-overlay"></div>

    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image" data-bg="img/bg/9.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            <h1 class="section-title white-color">Checkout</h1>
                        </div>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Checkout</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- WISHLIST AREA START -->
    <div class="ltn__checkout-area mb-105">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__checkout-inner">
                        <!-- <div class="ltn__checkout-single-content ltn__returning-customer-wrap">
                            <h5>Returning customer? <a class="ltn__secondary-color" href="#ltn__returning-customer-login" data-bs-toggle="collapse">Click here to login</a></h5>
                            <div id="ltn__returning-customer-login" class="collapse ltn__checkout-single-content-info">
                                <div class="ltn_coupon-code-form ltn__form-box">
                                    <p>Please login your accont.</p>
                                    <form action="#" >
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-item input-item-name ltn__custom-icon">
                                                    <input type="text" name="ltn__name" placeholder="Enter your name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-item input-item-email ltn__custom-icon">
                                                    <input type="email" name="ltn__email" placeholder="Enter email address">
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn theme-btn-1 btn-effect-1 text-uppercase">Login</button>
                                        <label class="input-info-save mb-0"><input type="checkbox" name="agree"> Remember me</label>
                                        <p class="mt-30"><a href="register.html">Lost your password?</a></p>
                                    </form>
                                </div>
                            </div>
                        </div> -->
                        <div class="ltn__checkout-single-content ltn__coupon-code-wrap">
                            <h5>Have a coupon? <a class="ltn__secondary-color" href="#ltn__coupon-code" data-bs-toggle="collapse">Click here to enter your code</a></h5>
                            <div id="ltn__coupon-code" class="collapse ltn__checkout-single-content-info">
                                <div class="ltn__coupon-code-form">
                                    <p>If you have a coupon code, please apply it below.</p>
                                    <form action="#" >
                                        <input type="text" name="coupon-code" placeholder="Coupon code">
                                        <button class="btn theme-btn-2 btn-effect-2 text-uppercase">Apply Coupon</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="ltn__checkout-single-content mt-50">
                            <p>
                                <label class="input-info-save mb-0">
                                    <input type="checkbox" name="selectAddress" id="selectAddress" onclick="handleCheckbox(this)"> Pick existing address?
                                </label>
                                <span class="error-message" id="agreeError"></span>
                            </p>
                            <div id="addressCardsContainer" style="display: none">
                                <div class="row">
                                    <% for (var i = 0; i < addressData.user_address.length; i++) { %>
                                    <div class="col-md-4 col-sm-6 col-12 learts-mb-30">
                                        <div class="card mb-3">
                                            <div class="card-body p-3">
                                                <address>
                                                    <p><strong><%= addressData.user_address[i].name %></strong></p>
                                                    <p>
                                                        <%= addressData.user_address[i].address %> <br>
                                                        <%= addressData.user_address[i].city %>, <%= addressData.user_address[i].state %> <br>
                                                        PIN: <%= addressData.user_address[i].pin %>
                                                    </p>
                                                    <p>Email: <%= addressData.user_address[i].email %> <br>
                                                        Mobile: <%= addressData.user_address[i].mobile %></p>
                                                </address>
                                                <div class="btn-wrapper nav">
                                                    <p>
                                                        <label>
                                                            <input type="radio" name="selectedAddress" value="<%= i %>" <% if (i === 0) { %>checked<% } %>>
                                                            Select Address
                                                        </label>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <p>
                                <label class="input-info-save mb-0">
                                    <input type="checkbox" name="agree" id="agree" onclick="handleCheckbox(this)"> Add new address?
                                </label>
                                <span class="error-message" id="agreeError"></span>
                            </p>
                            <div class="ltn__checkout-single-content-info" id="addressFormContainer" style="display: none;">
                                <h4 class="title-2">Add New Address</h4>
                                <form action="#" id="orderForm">
                                    <h6>Personal Information</h6>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-item input-item-name ltn__custom-icon">
                                                <input type="text" name="name" id="name" placeholder="Name" required>
                                                <span class="error-message" id="nameError"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-item input-item-email ltn__custom-icon">
                                                <input type="email" name="email" id="email" placeholder="Email address" required>
                                                <span class="error-message" id="emailError"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-item input-item-phone ltn__custom-icon">
                                                <input type="text" name="mobile" id="mobile" placeholder="Phone number" required>
                                                <span class="error-message" id="mobileError"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-item input-item-website ltn__custom-icon">
                                                <input type="text" name="company" id="company" placeholder="Company name (optional)">
                                                <span class="error-message" id="companyError"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <h6>Address</h6>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-item">
                                                        <input type="text" name="address" id="address" placeholder="House number and street name" required>
                                                        <span class="error-message" id="addressError"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-item">
                                                        <input type="text" name="apartment" id="apartment" placeholder="Apartment, suite, unit etc. (optional)">
                                                        <span class="error-message" id="apartmentError"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <h6>Town / City</h6>
                                            <div class="input-item">
                                                <input type="text" name="city" id="city" placeholder="City" required>
                                                <span class="error-message" id="cityError"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <h6>State</h6>
                                            <div class="input-item">
                                                <input type="text" name="state" id="state" placeholder="State" required>
                                                <span class="error-message" id="stateError"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <h6>Pin Code</h6>
                                            <div class="input-item">
                                                <input type="text" name="pin" id="pin" placeholder="Pin Code" required>
                                                <span class="error-message" id="pinError"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="display: flex; gap: 10px;">
                                                <label>
                                                    <input type="radio" name="addressType" value="is_home" id="isHome" required> Home
                                                </label>
                                                <label>
                                                    <input type="radio" name="addressType" value="is_work" id="isWork" required> Work
                                                </label>
                                                <span class="error-message" id="addressTypeError"></span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ltn__checkout-payment-method mt-50">
                        <h4 class="title-2">Payment Method</h4>
                        <div id="checkout_accordion_1">
                            <!-- card -->
                            <!-- <div class="card">
                                <h5 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-1" aria-expanded="false">
                                    Check payments
                                </h5>
                                <div id="faq-item-2-1" class="collapse" data-parent="#checkout_accordion_1">
                                    <div class="card-body">
                                        <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                    </div>
                                </div>
                            </div> -->
                            <!-- card -->
                            <div class="card">
                                <h5 class="ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-2" aria-expanded="false"> 
                                    Cash on delivery  <img src="img/icons/cash.png" alt="#">
                                </h5>
                                <div id="faq-item-2-2" class="collapse" data-parent="#checkout_accordion_1">
                                    <div class="card-body">
                                        <p>Pay with cash upon delivery.</p>
                                    </div>
                                </div>
                            </div>                             
                            <!-- card -->
                            <!-- <div class="card">
                                <h5 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-3" aria-expanded="false" >
                                    ApplePay  <img src="img/icons/applepay.png" alt="#">
                                </h5>
                                <div id="faq-item-2-3" class="collapse" data-parent="#checkout_accordion_1">
                                    <div class="card-body">
                                        <p>Apple Pay is the modern way to pay.</p>
                                    </div>
                                </div>
                            </div> -->
                            <!-- card -->
                            <!-- <div class="card">
                                <h5 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-4" aria-expanded="false" >
                                    PayPal <img src="img/icons/payment-3.png" alt="#">
                                </h5>
                                <div id="faq-item-2-4" class="collapse" data-parent="#checkout_accordion_1">
                                    <div class="card-body">
                                        <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="ltn__payment-note mt-30 mb-30">
                            <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</p>
                        </div>
                        <button class="btn theme-btn-1 btn-effect-1 text-uppercase" id="placeOrderButton" type="submit">Place order</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping-cart-total mt-50">
                        <h4 class="title-2">Cart Totals</h4>
                        <table class="table">
                            <tbody>
                                <% if (cartData && cartData.products) { %>
                                    <% cartData.products.forEach(cart => { %>
                                        <tr>
                                            <td><%= cart.product_id.name %> <strong>× <%= cart.quantity %></strong></td>
                                            <td>$<%= cart.product_id.price %></td>
                                        </tr>
                                    <% }); %>
                                <% } %>
                                <tr>
                                    <td>Shipping and Handing</td>
                                    <td>$15.00</td>
                                </tr>
                                <tr>
                                    <td>Vat</td>
                                    <td>$00.00</td>
                                </tr>
                                <tr>
                                    <td><strong>Order Total</strong></td>
                                    <td><strong>$633.00</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- WISHLIST AREA START -->

    <!-- FEATURE AREA START ( Feature - 3) -->
    <div class="ltn__feature-area before-bg-bottom-2 mb--30--- plr--5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__feature-item-box-wrap ltn__border-between-column white-bg">
                        <div class="row">
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img src="img/icons/icon-img/11.png" alt="#">
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4>Curated Products</h4>
                                        <p>Provide Curated Products for
                                            all product over $100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img src="img/icons/icon-img/12.png" alt="#">
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4>Handmade</h4>
                                        <p>We ensure the product quality
                                            that is our main goal</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img src="img/icons/icon-img/13.png" alt="#">
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4>Natural Food</h4>
                                        <p>Return product within 3 days
                                            for any product you buy</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img src="img/icons/icon-img/14.png" alt="#">
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4>Free home delivery</h4>
                                        <p>We ensure the product quality
                                            that you can trust easily</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FEATURE AREA END -->

    <!-- FOOTER AREA START -->
     <!-- footer -->
     <%- include('../layout/footer.ejs') %>
    <!-- FOOTER AREA END -->
</div>
<!-- Body main wrapper end -->

    <!-- All JS Plugins -->
    <script src="js/plugins.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>
    <!-- form validation  -->
    <script>
        document.getElementById('placeOrderButton').addEventListener('click', async function(event) {
            event.preventDefault();
            let isValid = true;
    
            const isCheckboxChecked = document.getElementById('agree').checked;
            const checkboxError = document.getElementById('agreeError');
            if (!isCheckboxChecked) {
                return;
            } else {
                checkboxError.textContent = '';
            }
    
            function hasConsecutiveSpaces(str) {
                return /\s{2,}/.test(str);
            }
    
            function isAlphabetic(str) {
                return /^[a-zA-Z\s]+$/.test(str);
            }
    
            const requiredFields = ['name', 'email', 'mobile', 'address', 'city', 'state', 'pin'];
            requiredFields.forEach(field => {
                const element = document.getElementById(field);
                const errorElement = document.getElementById(`${field}Error`);
                const value = element.value.trim();
                if (!value) {
                    isValid = false;
                    element.classList.add('invalid');
                    errorElement.textContent = `${field.charAt(0).toUpperCase() + field.slice(1)} is required.`;
                } else if (hasConsecutiveSpaces(value)) {
                    isValid = false;
                    element.classList.add('invalid');
                    errorElement.textContent = `${field.charAt(0).toUpperCase() + field.slice(1)} cannot have consecutive spaces.`;
                } else {
                    element.classList.remove('invalid');
                    errorElement.textContent = '';
                }
            });
    
            const name = document.getElementById('name').value.trim();
            const nameError = document.getElementById('nameError');
            if (name.length < 3) {
                isValid = false;
                document.getElementById('name').classList.add('invalid');
                nameError.textContent = 'Name must be at least 3 characters long.';
            }
    
            const pin = document.getElementById('pin').value.trim();
            const pinError = document.getElementById('pinError');
            if (!/^\d{6}$/.test(pin)) {
                isValid = false;
                document.getElementById('pin').classList.add('invalid');
                pinError.textContent = 'Invalid pin code.';
            }
    
            const city = document.getElementById('city').value.trim();
            const cityError = document.getElementById('cityError');
    
            const state = document.getElementById('state').value.trim();
            const stateError = document.getElementById('stateError');
            if (!isAlphabetic(state)) {
                isValid = false;
                document.getElementById('state').classList.add('invalid');
                stateError.textContent = 'State name must contain only letters and spaces.';
            }
    
            const isHomeChecked = document.getElementById('isHome').checked;
            const isWorkChecked = document.getElementById('isWork').checked;
            const address = document.getElementById('address').value.trim();
            const addressTypeError = document.getElementById('addressTypeError');
            if (!isHomeChecked && !isWorkChecked) {
                isValid = false;
                addressTypeError.textContent = 'Please select an address type.';
            } else {
                addressTypeError.textContent = '';
            }
    
            const email = document.getElementById('email').value;
            const emailError = document.getElementById('emailError');
            const emailPattern = /^[A-Za-z0-9]+(?:\.[A-Za-z0-9]+)*@[A-Za-z0-9-]+(?:\.[A-Za-z0-9-]+)*\.[A-Za-z]{2,4}$/;
            if (!emailPattern.test(email)) {
                isValid = false;
                document.getElementById('email').classList.add('invalid');
                emailError.textContent = 'Invalid email address.';
            } else {
                document.getElementById('email').classList.remove('invalid');
                emailError.textContent = '';
            }
    
            const mobile = document.getElementById('mobile').value;
            const mobileError = document.getElementById('mobileError');
            const phonePattern = /^(?!.*(\d)\1{9})\d{10}$/;
            if (!phonePattern.test(mobile)) {
                isValid = false;
                document.getElementById('mobile').classList.add('invalid');
                mobileError.textContent = 'Invalid phone number.';
            } else {
                document.getElementById('mobile').classList.remove('invalid');
                mobileError.textContent = '';
            }
    
            if (isValid) {
                const formData = {
                    name,
                    email,
                    mobile,
                    pin,
                    address,
                    city,
                    state,
                };
                console.log(formData);
    
                try {
                    fetch('/add-address', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(formData)
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status) {
                            Swal.fire({
                                title: 'Updated Successfully!',
                                text: data.message,
                                icon: 'success',
                                timer: 3000,
                                showConfirmButton: true,
                                confirmButtonColor: '#28a745' // green
                            });
                        } else {
                            Swal.fire({
                                title: 'Update Failed',
                                text: data.message,
                                icon: 'error',
                                confirmButtonColor: '#d33' // red
                            });
                        }
                    })
                    .catch(error => {
                        Swal.showValidationMessage(error.message);
                        return false;
                    });
                } catch (error) {
                    console.error('Error occurred:', error);
                    alert('An error occurred while processing your request. Please try again later.');
                }
            } else {
                event.preventDefault();
            }
        });
    </script>
    
    <!-- checkbox hide -->
    <script>
        var agreeCheckbox = document.getElementById('agree');
        var formContainer = document.getElementById('addressFormContainer');
        agreeCheckbox.addEventListener('change', function() {
            if (this.checked) {
                formContainer.style.display = 'block';
            } else {
                formContainer.style.display = 'none';
            }
        });
    
        var selectAddressCheckbox = document.getElementById('selectAddress');
        var addressCardsContainer = document.getElementById('addressCardsContainer');
        selectAddressCheckbox.addEventListener('change', function() {
            if (this.checked) {
                addressCardsContainer.style.display = 'block';
            } else {
                addressCardsContainer.style.display = 'none';
            }
        });
    
        function handleCheckbox(checkbox) {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(function(cb) {
                if (cb !== checkbox) {
                    cb.checked = false;
                    if (cb.id === 'agree') {
                        formContainer.style.display = 'none';
                    } else if (cb.id === 'selectAddress') {
                        addressCardsContainer.style.display = 'none';
                    }
                }
            });
        }
    </script>
    
    
    
  
</body>

</html>

