<%- include('../layout/header.ejs') %>
    <!-- HEADER AREA END -->
    <style>
        .error-message {
            color: red;
            font-size: 12px;
        }
        .invalid {
            border-color: red;
        }
        </style>
    
    <div class="ltn__utilize-overlay"></div>

    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image" data-bg="img/bg/9.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            <h1 class="section-title white-color">Checkout</h1>
                        </div>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Checkout</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <% if (typeof userWithoutCart !== 'undefined') { %>
        <div class="ltn__checkout-area mb-105">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>NO PRODUCTS SELECTED</h1>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    <!-- WISHLIST AREA START -->
    <div class="ltn__checkout-area mb-105">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- apply coupon -->
                    <div class="ltn__checkout-inner">
                        <div class="ltn__checkout-single-content ltn__coupon-code-wrap">
                            <h5>Have a coupon? <a class="ltn__secondary-color" href="#ltn__coupon-code" data-bs-toggle="collapse">Click here to enter your code</a></h5>
                            <div id="ltn__coupon-code" class="collapse ltn__checkout-single-content-info">
                                <div class="ltn__coupon-code-form">
                                    <p>If you have a coupon code, please apply it below.</p>
                                    <form id="couponForm" action="#" >
                                        <input type="text" id="coupon-code" name="coupon-code" placeholder="Coupon code">
                                        <input type="hidden" id="order-total" name="order-total" value="<%= orderTotal %>">
                                        <button id="applyCouponBtn" class="btn theme-btn-2 btn-effect-2 text-uppercase">Apply Coupon</button>
                                        <button id="removeCouponBtn" class="btn theme-btn-2 btn-effect-2 text-uppercase">Remove Coupon</button>
                                    </form>
                                </div>
                                <br>
                                <div class="container">
                                    <div class="row">
                                        <% if (couponData !== "undefined") { %>
                                            <% couponData.forEach(coupon => { %>
                                                <div class="col-lg-3">
                                                    <div class="card mb-3">
                                                        <div class="card-body">
                                                            <h5 class="card-title"><%= coupon.coupon_code %></h5>
                                                            <p class="card-text">Discount: <%= coupon.discount_percentage %>%</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% }) %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div id="messageContainer"></div>
                        </div>
                        <div class="ltn__checkout-single-content mt-50">
                            <p>
                                <label class="input-info-save mb-0">
                                    <input type="checkbox" name="selectAddress" id="selectAddress" onclick="handleCheckbox(this)"> Select an address
                                </label>
                                <span class="error-message" id="agreeError"></span>
                            </p>
                            <!-- address list  -->
                            <div id="addressCardsContainer" style="display: none">
                                <div class="row">
                                    <% if (addressData && addressData.user_address && addressData.user_address.length > 0) { %>
                                        <% for (var i = 0; i < addressData.user_address.length; i++) { %>
                                            <div class="col-md-4 col-sm-6 col-12 learts-mb-30">
                                                <div class="card mb-3">
                                                    <div class="card-body p-3">
                                                        <address>
                                                            <p><strong><%= addressData.user_address[i].name %></strong></p>
                                                            <p>
                                                                <%= addressData.user_address[i].address %> <br>
                                                                <%= addressData.user_address[i].city %>, <%= addressData.user_address[i].state %> <br>
                                                                PIN: <%= addressData.user_address[i].pin %>
                                                            </p>
                                                            <p>Email: <%= addressData.user_address[i].email %> <br>
                                                                Mobile: <%= addressData.user_address[i].mobile %></p>
                                                        </address>
                                                        <div class="btn-wrapper nav">
                                                            <p>
                                                                <label>
                                                                    <input type="radio" name="selectedAddress" value="<%= i %>">
                                                                    Select Address
                                                                </label>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } else { %>
                                        <p>No addresses available.</p>
                                    <% } %>
                                    
                                </div>
                            </div>
                            <p>
                                <label class="input-info-save mb-0">
                                    <input type="checkbox" name="agree" id="agree" onclick="handleCheckbox(this)"> Add new address?
                                </label>
                                <span class="error-message" id="agreeError"></span>
                            </p>
                            <!-- address form -->
                            <div class="ltn__checkout-single-content-info" id="addressFormContainer" style="display: none;">
                                <h4 class="title-2">Add New Address</h4>
                                <form action="#" id="orderForm">
                                    <h6>Personal Information</h6>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-item input-item-name ltn__custom-icon">
                                                <input type="text" name="name" id="name" placeholder="Name" required>
                                                <span class="error-message" id="nameError"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-item input-item-email ltn__custom-icon">
                                                <input type="email" name="email" id="email" placeholder="Email address" required>
                                                <span class="error-message" id="emailError"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-item input-item-phone ltn__custom-icon">
                                                <input type="text" name="mobile" id="mobile" placeholder="Phone number" required>
                                                <span class="error-message" id="mobileError"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-item input-item-website ltn__custom-icon">
                                                <input type="text" name="company" id="company" placeholder="Company name (optional)">
                                                <span class="error-message" id="companyError"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <h6>Address</h6>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-item">
                                                        <input type="text" name="address" id="address" placeholder="House number and street name" required>
                                                        <span class="error-message" id="addressError"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-item">
                                                        <input type="text" name="apartment" id="apartment" placeholder="Apartment, suite, unit etc. (optional)">
                                                        <span class="error-message" id="apartmentError"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <h6>Town / City</h6>
                                            <div class="input-item">
                                                <input type="text" name="city" id="city" placeholder="City" required>
                                                <span class="error-message" id="cityError"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <h6>State</h6>
                                            <div class="input-item">
                                                <input type="text" name="state" id="state" placeholder="State" required>
                                                <span class="error-message" id="stateError"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <h6>Pin Code</h6>
                                            <div class="input-item">
                                                <input type="text" name="pin" id="pin" placeholder="Pin Code" required>
                                                <span class="error-message" id="pinError"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="display: flex; gap: 10px;">
                                                <label>
                                                    <input type="radio" name="addressType" value="is_home" id="isHome" required> Home
                                                </label>
                                                <label>
                                                    <input type="radio" name="addressType" value="is_work" id="isWork" required> Work
                                                </label>
                                                <span class="error-message" id="addressTypeError"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn theme-btn-1 btn-effect-1 text-uppercase" id="placeOrderButton" type="submit">Add Address</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- payment method -->
                <div class="col-lg-6">
                    <div class="ltn__checkout-payment-method mt-50">
                        <h4 class="title-2">Payment Method</h4>
                        <div id="checkout_accordion_1">
                            <!-- card -->
                            <div class="card">
                                <h5 class="ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-2" aria-expanded="false"> 
                                    <input type="radio" id="cash_on_delivery" name="payment_method" value="cash_on_delivery">
                                    <label for="cash_on_delivery">
                                    Cash on delivery <img src="img/icons/cash.png" alt="#">
                                    </label>
                                </h5>
                                <div id="faq-item-2-2" class="collapse" data-parent="#checkout_accordion_1">
                                    <div class="card-body">
                                        <p>Pay with cash upon delivery.</p>
                                    </div>
                                </div>
                            </div>                             
                            <!-- card -->
                            <div class="card">
                                <h5 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-3" aria-expanded="false" >
                                    <input type="radio" id="razorpay" name="payment_method" value="razorpay">
                                    <label for="razorpay">
                                        Razorpay <img src="img/icons/Razorpay_logo.png" alt="Razorpay">
                                    </label>
                                </h5>
                                <div id="faq-item-2-3" class="collapse" data-parent="#checkout_accordion_1">
                                    <div class="card-body">
                                        <p>Pay via Razorpay; you can pay with your credit card if you don’t have a PayPal account.</p>
                                    </div>
                                </div>
                            </div>
                             <!-- card -->
                             <div class="card">
                                <h5 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-4" aria-expanded="false" >
                                    <input type="radio" id="wallet" name="payment_method" value="wallet">
                                    <label for="wallet">
                                        Wallet <img src="img/icons/wallet.png" alt="#">
                                    </label>                                </h5>
                                <div id="faq-item-2-4" class="collapse" data-parent="#checkout_accordion_1">
                                    <div class="card-body">
                                        <% if (walletData) {%>
                                        <p>Your wallet balance is <strong>₹<%= walletData.wallet_amount %></strong>. </p>
                                        <% } else {%>
                                        <p>Your Wallet is empty.</p>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ltn__payment-note mt-30 mb-30">
                            <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</p>
                        </div>
                        <button class="btn theme-btn-1 btn-effect-1 text-uppercase" id="paymentBtn" type="submit">Place order</button>
                    </div>
                </div>
                <!-- price details -->
                <div class="col-lg-6">
                    <div class="shoping-cart-total mt-50">
                        <h4 class="title-2">Cart Totals</h4>
                        <table class="table">
                            <tbody>
                                <% if (cartData && cartData.products) { %>
                                    <% cartData.products.forEach(cart => { %>
                                        <tr>
                                            <td><%= cart.product_id.name %> <strong>× <%= cart.quantity %></strong></td>
                                            <td>₹<%= cart.product_id.promoPrice && cart.product_id.promoPrice > 0 ? cart.product_id.promoPrice * cart.quantity : cart.product_id.price * cart.quantity %></td>
                                        </tr>
                                    <% }); %>
                                <% } %>
                                <tr>
                                    <td>Shipping and Handing</td>
                                    <td>₹<%= shipping %></td>
                                </tr>
                                <tr>
                                    <td>Vat</td>
                                    <td>₹00.00</td>
                                </tr>
                                <tr>
                                    <td><strong>Order Total</strong></td>
                                    <td><strong>₹<%= orderTotal %></strong></td>
                                </tr>
                                <tr id="discount-row" style="display: none;">
                                    <td>Discount</td>
                                    <td id="discount-amount">-₹0.00</td>
                                </tr>
                                <tr id="total-after-discount-row" style="display: none;">
                                    <td><strong>Total After Discount</strong></td>
                                    <td id="total-after-discount"><strong>₹0.00</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER AREA START -->
     <!-- footer -->
     <%- include('../layout/footer.ejs') %>
    <!-- FOOTER AREA END -->
</div>
<!-- Body main wrapper end -->
 
<!--================End Checkout Area =================-->

    <!-- All JS Plugins -->
    <script src="js/plugins.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>
    <script src="js/checkout.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    
</body>

</html>

